.errorMsg{
  margin-top: 2.5rem;
  flex-basis: 100%;
  display: flex;
  justify-content: center;
}

.paragraphAlert{
  font-size: 1.3rem;
  padding: 1.5rem;
  font-weight: bold;
  background-color: var(--alert-error);
  text-align: center;

  border-radius: 2px;
  border: 4px double rgb(179, 14, 14);

  width: max-content;

}